<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <div id="app" class="">
      <section class="section">
        <div class="container">
          <h1 class="title">
            Bayes
          </h1>
          <p class="subtitle is-size-7">
            <strong>Treine e utilize redes bayesianas para classificar sons.</strong>
          </p>
          
          <div class="columns">
            <div class="column is-narrow">

              <!-- lista de cargas -->
              
              <div v-if="!waves.length">Nenhuma carga</div>
              <!-- <div v-if="waves.length" class="title is-6">Cargas:</div> -->
              <table class="table is-striped" v-if="waves.length">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>Situação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="load in waves">
                    <td>{{load.name}}</td>
                    <td>
                      <div class="field">
                        <div class="control">
                          <label class="checkbox">
                            <input type="checkbox" v-model="load.isOn"> {{load.isOn ? 'on' : 'off'}}
                          </label>
                        </div>
                      </div>
                    </td>


                  </tr>

                </tbody>
              </table>

              
            </div>
            <div class="column">
              <!-- adiciona cargas -->
              
              <div class="field">
                <div class="control">
                  <input class="input" type="text" v-model="newName" placeholder="nome da carga">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <a class="button is-link" @click="newLoad">adicionar som</a>
                </div>
              </div>

              <hr>

              <!-- fotografa estado -->

              <div class="field" v-if="waves.length">
                <div class="control">
                  <a v-if="savedStates.length > 1" class="button is-primary" @click="train">treinar</a>
                </div>

                <div v-if="trainedLabels && detectedIndex !== undefined">
                  <h3>
                    Detectado: {{ detected }}
                  </h3>
                </div>

                <p>
                  estados para treinamento: {{savedStates.length}}
                </p>
              </div>

            </div>
          </div>


        </div>
      </section>

      <div>
        <canvas ref="spectrum" width="200" height="60"></canvas>
      </div>


    </div>

    <div class="wrapper">
      <canvas class="visualizer" width="640" height="100"></canvas>
    </div>




  </body>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="audio.js"></script>
  <script type="text/javascript" src="bayes.js"></script>
</html>
